<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker - Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-t from-blue-200 to-blue-800 min-h-screen">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-center text-5xl font-bold text-white mb-8">Auxiliary Account Tracker</h1>

        <div class="form-group flex justify-center">
            <h3 class="mb-4">Insert Opening Balance</h3>
            <form action="/balance" method="POST" class="flex flex-col items-center">
                <input type="text" name="account balance" placeholder="insert balance" required class="mb-2"><br>
                <button type="submit" class="bg-navy-500 hover:bg-navy-700 text-white font-bold py-2 px-4 rounded">Submit Balance</button>
            </form>
            <h3 class="mb-4">Insert Monthly Income</h3>
            <form action="/income" method="POST" class="flex flex-col items-center">
                <input type="text" name="Monthly income" placeholder="insert amount" required class="mb-2"><br>
                <button type="submit" class="bg-navy-500 hover:bg-navy-700 text-white font-bold py-2 px-4 rounded">Submit Income</button>
            </form>
            <h3 class="mb-4">Insert Monthly Expenses</h3>
            <form action="/expense" method="POST" class="flex flex-col items-center">
                <input type="text" name="Monthly expenses" placeholder="insert amount" required class="mb-2"><br>
                <button type="submit" class="bg-navy-500 hover:bg-navy-700 text-white font-bold py-2 px-4 rounded">Submit Expenses</button>
            </form>
            
        </div>
    </div>

   <div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center">
        <div class="form-group">
            <h3 class="text-xl font-bold mb-2">Current Balance</h3>
            <div id="account-balance"><br>
                <p class="text-2xl text-white-800">{{ accounts[0].balance }}</p>
            </div>
        </div>
        <div class="form-group">
            <h3 class="text-xl font-bold mb-2">Monthly Income</h3>
            <div id="account-income"><br>
                <p class="text-2xl text-white-800">{{ accounts[0].monthly_income }}</p>
            </div>
        </div>
        <div class="form-group">
            <h3 class="text-xl font-bold mb-2">Monthly Expenses</h3>
            <div id="account-expenses"><br>
                <p class="text-2xl text-white-800">{{ accounts[0].monthly_expense }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>